
<h1>Creacion de un hospital</h1>

<form method="post">
    <input class="form-control" type="text" name="nombre" placeholder="Inserte el nombre" required /><br />
    <input class="form-control" type="text" name="direccion" placeholder="Inserte la direccion" required /><br />
    <input class="form-control" type="text" name="telefono" placeholder="Inserte el telefono" required /><br />
    <input class="form-control" type="number" name="numCama" placeholder="Inserte el numero de camas" required /><br />

    <button type="submit" class="btn btn-success">Crear Hospital</button>
</form>